body {
    background-color: rgb(139, 115, 115);
    color:rgb(238, 225, 213);
    font-family: AzereMono, Arial, Helvetica, sans-serif;
}

img#Logo {
    width: 200px;
}

.t-50 {
    width: 50%
}
header {
    display: flex;
}   

nav {
    /* Las medidas de witdth pueden ser :
        en pixeles: 100px
        en porcentajes: 100%
        con relacion al tamaño de la pantalla: 100vh */
     width: 100%;
}

ul {
    /* Esta propiedad modifica el adorno del lado izquierdo de las listas.
    Si ponemos como valor none, obligamosa la lista a no tener adornos*/
    list-style: none;

    /* Estas propiedades serán explicadas más adelante */
    display: flex;
    flex-direction: row;

    /* Le indicamos que se posicione a la derecha, equivalente al alinear a la derecha de microsoft word o similares: ; */
    float:right;
}
a {
    color: rgb(255, 255, 255);
    /* modificamos el decorado de un texto, si tiene el valor none, le estamos indicando que no tendra decoraciones */
    text-decoration: none;
    /* le agregamos un margen a la izquiersa de 10 pixeles */
     margin-left: 10px;
}   

table, th, td {
    border: solid rgb(238, 225, 213);
    padding: 15px;
}
th {
    background-color:rgb(238, 225, 213);
    color: rgb(139, 115, 115);
    font-size: large;
    text-align: center;
  }
td {
    background-color:rgba(238, 225, 213, 0.158);
    color: rgb(238, 225, 213);
    font-size: medium;
    text-align: left;
  }
  @font-face {
    /* font-family es la propiedad que le asigna un nombre a la nueva fuente.
    El nombre es a gusto de cada quien. Por convencion, se pone el nombre 
    real, en este caso, AkayaKanadaka */
    font-family: AzereMono;
    /* La propiedad src define la ubicación de la fuente a utilizar. Sea
    cual sea que utilices, prueba primero el archivo que tenga en su
    nombre Regular */
    src: url('../Fonts/AzeretMono-VariableFont_wght.ttf')
}
article {
    text-align: center;
    margin: 32px auto;
    width: 80%;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}
footer {
    text-align: center;
}